secrets.yaml
*.db
*.db-shm
*.db-wal
*.log
*.xml
*.db-journal
*.sqlite
*.conf
.editorconfig
*.data
deps
.HA_VERSION
.uuid
.storage/
__pycache__
known_devices.yaml
.homekit.state
.spotify-token-cache
*.log
*.log*
